<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>Tandempartner Suchen Site</h1>
    <%= link_to 'Sign Up Now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>