<div class="row">
    <aside class="col-md-6">
        <%= render 'user.info', user: @user %>
    </aside>
    <div class="col-md-6">
        <%= render 'nav_btn' %>
        <%= render 'messages/user_messages', messages: @favmessages %>
    </div>
</div>
