@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  background-image: url("/tandem.jpg");
  background-size: cover;
  background-position: center 100%;
  h1 {
  	color: #fff;
  }
}

section.talk_box {
	padding: 10px;
	border: 1px solid $gray-light;
	overflow: scroll;
	margin-top: 10px;
	#talks{
		height: 400px;
	}
}

div.talk_form {
	padding-top: 10px;
}

#talk_sender {
	font-size: 1.1em;
}

#talk_content {
	font-size: 1.0em;
}

textarea.talk_text {
	width: 500px;
}

.panel-body {
	display: table-cell;
	padding-bottom: 2px;
}

.list-group {
	display: table-cell;
	padding-top: 10px;
	font-size: 140%;
}

.list-group-item {
	padding: 5px;
	border-top: none;
}

.media-body ul {
	list-style: none;
	padding-left: 0;
}

.media-list {
	padding-top: 10px;
}

ol.messages {
	padding-left: 0;
}

.text-center p {
	padding-top: 40px;
}

.text-muted {
    float: left;
    padding-right: 20px;
}