<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><i class="fas fa-paw fa-lg fa-fw"></i> Tandempartner Suchen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/users"><i class="fas fa-users fa-lg fa-fw"></i> All Users</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-lg fa-fw"></i><%= current_user.name %></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="far fa-user-circle fa-lg fa-fw"></i> My Page
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_path(current_user) do %>
                  <i class="fas fa-cog fa-lg fa-fw"></i> Setting
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to logout_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt fa-lg fa-fw"></i> Log out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><a class="nav-link" href="/signup"><i class="far fa-user fa-lg fa-fw"></i>Sign up</a></li>
          <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-sign-in-alt fa-lg fa-fw"></i>Log in</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

